html,body{
    background-color: white;    
}

.container {
    display: flex;
    flex: 1;
    height: 30vh; 
}

header {
    background-color: chocolate;
    color: black;
    padding: 20px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 100%;
}


.iconleft {
    display: flex;
    align-items: center; 
}

.iconleft img {
    margin-right: 10px; 
}

.iconright {
    display: flex;
    align-items: center; 
}


h1 {
    font-size: 24px; 
    margin: 0;
}

main {
    display: flex; 
    justify-content: space-between; 
    flex-wrap:nowrap; 
}

aside {
    width: 30%; 
    background-color: gray;
    height: 100vh;
    padding: 20px; 
}

ul {
    list-style-type: none;
    padding: 0; 
}

ul li {
    margin: 10px 0; 
}

ul li a {
    color: black; 
    text-decoration: none; 
    font-size: 16px; 
    display: block; 
    padding: 8px; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

ul li a:hover {
    background-color: lightgray; 
    color: blue; 
}


aside a {
    color: black;
    text-decoration: none;
    margin-top: 30px;
}

aside a:hover {
    color: blue;
    text-decoration: underline;
}

section {
    width: 70%; 
    background-color: white;
    
}



.form-container{
    background-color:white;
    padding: 20px;
    max-width: 400px;
    
}

.form-container input, .form-container textarea, .form-container select{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button{
    background-color: chocolate;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-list{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.task-card {
    position: relative;
    background-color: #fff;
    padding: 10px;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}

.task-card:hover{
    justify-content: space-between;
}

.task-card h3{
    font-size: 18px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.task-card p{
    font-size: 14px;
    color: #555;
    justify-content: space-between;
}

.task-card span{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #888;
    justify-content: space-between;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.main-container{
    display: flex;
    flex-direction: row;
}



nav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    padding: 80px;
}

nav a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}







