* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  width: 90%;
}

.menu-left,
.menu-right {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu-left li a,
.menu-right li a {
  color: #00ADB5;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 26px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu-left li a:hover,
.menu-right li a:hover {
  color: #00C4FF;
}




ul.menu-left{
  margin-top: 20px;
}

ul.menu-right{
  margin-top: 20px;
}


header{
     background-color: #1a1a1a;
  color: #00ADB5;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  border-bottom: #00adb5 2px solid;
}

body.light-mode header {
  border-bottom: #00437e 2px solid;
}

.header-buttons {
  position: absolute;
  right: 20px;   /* distanza dal bordo destro */
  top: 50%;      /* centro verticale */
  transform: translateY(-50%);
  display: flex;
  gap: 10px;     /* spazio tra i pulsanti */
}


.menu-toggle,
#darkModeToggle {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #00adb5;
}

/* Barra di ricerca inizialmente nascosta */
.search-bar {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

body.light-mode .search-bar {
  background-color: #f4f1e1;
}

.search-bar.active {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta {
  text-align: center;
  margin-top: 40px;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #00adb5;
  border-radius: 4px;
  color: #00adb5;
  background-color: transparent;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #00adb5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #00c4ff;
}

.logo img {
  max-height: 40px;
}

/* --- VERSIONE DESKTOP --- */
.language-mobile {
  display: none; /* Nascosto su desktop */
}

.titolo-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.titolo-header:hover {
  color: #00c4ff;
  cursor: pointer;
}
h2 {
    text-align: center;
    color: #008eb8;
    margin-bottom: 20px;
    font-size: 3rem;
}

body.light-mode h2{
  color:#466f69;
  font-size: 3rem;
}

h2[data-18n="Cta"] {
  color: #1c2d2a !important;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    color:#00C4FF;
    font-size: 1.5rem;
}

body.light-mode .intro{
  color: #0f2d41;
  font-size: 1.5rem;
}


.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  margin: 40px auto;
  border-radius: 12px;
  background-color: #1A1A1A;
  box-shadow: 0 6px 15px rgba(0,173,181,0.2);
    padding: 0 10px;          /* spazio per frecce */
}



.slides-wrapper {
  display: flex;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width:calc(100% - 100px );
  overflow: hidden;
}



.stage{
    display: flex;
      transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      width: 100%;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(145deg, #2c2c2c, #111);
}

.slide-inner {
  padding: 60px;
  text-align: center;
  color: #ffffff;
}

body.light-mode .slide-inner{
  color: #757575;
}

.slide h3 {
  font-size: 2rem;
  color: #103a3c;
  margin-bottom: 6%;
}

body.light-mode .slide h3{
  color: #30adb3;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-top: 15px;
  overflow: hidden;
}

.skill-bar-fill {
  height: 100%;
  background-color: #00C4FF;
  width: 0;
  transition: width 0.6s ease-in-out, background-color 0.4s ease;
}

button.prev,
button.next {
  background: none;
  border: 2px solid #00ADB5;
  border-radius: 50%;
  padding: 10px;
  color: #00ADB5;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


button.prev:hover,
button.next:hover {
  background-color: #00ADB5;
  color: #1A1A1A;
  transform: scale(1.1);
}



button:hover {
  color: #00C4FF;
}



.testimonials {
  background: #f4f4f4;
  padding: 50px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

body.light-mode .testimonials{
  background-color:aquamarine;
  color:#256d9c;
}

.testimonial {
  margin-bottom: 20px;
  font-style: italic;
}

.testimonial p {
  margin: 0;
  font-size: 28px;
}

.cta {
    display: flex;            /* Usa Flexbox per allineare gli elementi */
    flex-direction: column;   /* Imposta gli elementi in una colonna */
    justify-content: center;  /* Centra verticalmente il contenuto */
    align-items: center;      /* Centra orizzontalmente il contenuto */
    background: #3498db;
    color: #292929;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
}

.cta h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

 .cta p{
  margin-bottom: 20px;
    font-size: 1.5rem;
 }

body.light-mode .cta h2{
  font-size: 2rem;
}

body.light-mode .cta p{
  margin-bottom: 20px;
    font-size: 1.5rem;
 }

.cta .btn-contact {
  background: #fff;
  color: #205d86;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta .btn-contact:hover {
  background: #3498db;
  color: #292929;
}

.back-home {
    text-align: center;
    margin-top: 40px;
}
.back-home a {
    color: #005771;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

body.light-mode a {
    color: #00437e;
}

body.light-mode a:hover{
  color: #0056b3;
}



/* Pulsante di lingua per il desktop */
.btn-language {
  background: none;
  border: 2px solid #00adb5;
  color: #00adb5;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 50px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Effetto hover per desktop */
.btn-language:hover {
  background-color: #00adb5;
  color: #1a1a1a;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #00adb5;
  cursor: pointer;
}


ul li {
  margin-bottom: 20px;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.btn-dark-mode {
  background-color: navy;
  width: 40px;
  height: 30px;
}

body.dark-mode .btn-dark-mode {
  background-color: gold;
  color: black;
}



main {
  margin: auto;
  background-color: #1a1a1a;
  border: 2px solid #00adb5;
  border-radius: 5px;
  padding: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  font-family: "Georgia", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-mode main {
    border: 2px solid #0056b3; 
}

a {
  color: #00c4ff;
  text-decoration: none;
  transition: color 0.3s;
}

li {
  text-decoration: none;
}

footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}

footer a {
  color: #00c4ff;
  text-decoration: underline;
}

.menu-search {
  display: none;
}

.lente {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #00adb5 !important;
}
.lente:hover {
  color: #0056b3 !important;
}

body {
  background-color: #1a1a1a;
}
body.light-mode {
  background-color: #f4f1e1;
  color: #000000;
}
body.light-mode header,
body.light-mode main,
body.light-mode footer {
  background-color: #f4f1e1;
  color: #000000;
}

body.light-mode .btn-back {
  background-color: #6dada4;
  color: #001728;
}
body.light-mode .btn-back:hover {
  background-color: turquoise;
  color: #433800;
}

/* ================================ MAIN E PROJECT-DETAILS ================================ */
main {
  margin: 60px auto;
  max-width: 900px;
  border-radius: 12px;
  padding: 50px 40px;
  box-shadow: 0 8px 25px rgba(0, 173, 181, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top right,
    rgba(0, 173, 181, 0.15),
    transparent 70%
  );
  pointer-events: none;
}


#messaggio-error, #email-error, #cognome-error, #nome-error {
    color: red;
    margin-top: 10px;
    max-width: 500px;
    width: 100%;
}

section.contatti {
    margin-top: 50px;
    text-align: center;
}

section.contatti h1 {
    color:#0D7377 ;
    padding-bottom: 30px;
}

section.contatti h1:hover{
    cursor: pointer;
    color: #00ADB5;
}

section.contatti form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contatti label {
    margin-top: 28px;
    font-weight: bold;
    color:#0074D9;
}

section.contatti input,
section.contatti textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section.contatti button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

section.contatti button:hover {
     background-color:aquamarine;
    color:cadetblue;
}


body.light-mode section.contatti button {
  color: #0056b3;
  background-color:gold ;
}

body.light-mode section.contatti button:hover{
   background-color:aquamarine;
    color:cadetblue;
}



.contatti-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
.form-container {
  width: 45%;
}
.mappa-container {
  width: 45%;
  text-align: center;
}
.mappa-container iframe {
  max-width: 100%;
  border-radius: 10px;
}


/* Wrapper per nome e cognome */
section.contatti .nome-cognome {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* così su mobile vanno in colonna */
    justify-content: center;
}

/* Ogni input prende metà larghezza su desktop */
section.contatti .nome-cognome input {
    flex: 1 1 200px; /* minimo 200px, si espande */
    max-width: 240px; /* opzionale, per non essere troppo largo */
}

.form-container {
  width: 45%;
}

.mappa-container {
  width: 45%;
  text-align: center;
}

.mappa-container iframe {
  max-width: 100%;
  border-radius: 10px;
}



body.light-mode footer {
  background-color: #f4f1e1;
  color: #000;
}

body.light-mode header {
  background-color: #f4f1e1;
  color: #00adb5;
}
body.light-mode a {
  color: #00437e;
}
body.light-mode a:hover {
  color: #0056b3;
}





body {
  background-color: #1a1a1a;
}

body.light-mode {
  background-color: #f4f1e1;
  color: #000000;
}

body.light-mode header,
body.light-mode main,
body.light-mode footer {
  background-color: #f4f1e1;
  color: #000000;
}





  main {
    padding: 30px 20px;
  }

  
  .form-container,
  .mappa-container {
    width: 100%;
  }
 
 
  section.contatti form {
    margin-top: 0;
  }




main {
    margin:auto;
    background-color:#1A1A1A;
    border: 2px solid #00ADB5; 
    border-radius: 5px;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-family: 'Georgia', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #00C4FF;
    text-decoration: none;
    transition: color 0.3s;
}
li {
    text-decoration: none;
}

/* Card Membri del Team */
.member-card {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 173, 181, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 173, 181, 0.3);
}

.member-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.member-card .member-info {
    flex: 1;
}

.member-card h3 {
    font-size: 1.3rem;
    color: #00C4FF;
}

.member-card p {
    font-size: 1rem;
    color: #A1C8FF;
}



.member-card .role {
    font-size: 1.1rem;
    font-weight: bold;
    color: #00ADB5;
}

.member-card .btn-more {
    padding: 8px 18px;
    background-color: #00ADB5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.member-card .btn-more:hover {
    background-color: #00C4FF;
}

/* Timeline del Team */
.team-timeline {
    padding: 40px;
    border-radius: 10px;
    margin-top: 60px;
}

.team-timeline h2 {
    font-size: 2rem;
    color: #00C4FF;
    text-align: center;
    margin-bottom: 30px;
}

body.light-mode .team-timeline h2{
  color:#596e8c ;
}

.timeline-item {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #00ADB5;
    border-radius: 50%;
}

.timeline-item h3 {
    font-size: 1.2rem;
    color: #00C4FF;
}

body.light-mode .timeline-item h3{
  color: #0056b3;
}

.timeline-item p {
    font-size: 1rem;
    color: #bbb;
}
section.contatti {
    margin-top: 50px;
    text-align: center;
}



body.light-mode .contatti h1{
  color:#00C4FF;
  font-size: 2.5rem;
}

section.contatti h1:hover {
    cursor: pointer;
    color: #00ADB5;
}

section.contatti form {
    display: flex;
    flex-direction: column;
    align-items: center;
}





section.contatti button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

section.contatti button:hover {
     background-color:aquamarine;
    color:cadetblue;
}

body.light-mode section.contatti button {
  color: #0056b3;
  background-color:gold ;
}

body.light-mode section.contatti button:hover {
   background-color:aquamarine;
    color:cadetblue;
}

.contatti-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.form-container {
    width: 45%; 
}

.mappa-container {
    width: 45%; 
    text-align: center;
}

.mappa-container iframe {
    max-width: 100%; 
    border-radius: 10px;
}

body.light-mode .timeline-item p{
  color: #121212;
}

.timeline-item:hover {
    transform: translateX(10px);
    box-shadow: 0 4px 12px rgba(0, 173, 181, 0.2);
}




footer{
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;
}

footer a{
    color: #00C4FF;
    text-decoration: underline;
}





/* Di default, la lente nel menu mobile è nascosta */
.menu-search {
  display: none;
}

.lente {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #00ADB5 !important;
}

.lente:hover {
    color:#0056b3 !important;
}



body {
  background-color: #1a1a1a;

}

body.light-mode {
  background-color: #f4f1e1;
  color: #000000;
}

body.light-mode header,
body.light-mode main,
body.light-mode footer {
  background-color: #f4f1e1;
  color: #000000;
}



body.light-mode h1{
  color:#3498db;
}

body.light-mode .team-page h1{
    color:#596e8c;
    font-size: 3rem;
}


body.light-mode .member-card h3{
  color: #596e8c;
}

body.light-mode .member-card .role{
  color: #457475;
}

body.light-mode .member-card p{
  color:#005a5e;
}



/* ================================
   MAIN E PROJECT-DETAILS
================================ */
main {
    margin: 60px auto;
    max-width: 1800px;
    border-radius: 12px;
    padding: 50px 40px;
    box-shadow: 0 8px 25px rgba(0, 173, 181, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top right, rgba(0,173,181,0.15), transparent 70%);
    pointer-events: none;
}


h2 {
    text-align: center;
    color: #00C4FF;
    margin-bottom: 20px;
}
.intro {
    text-align: center;
    margin-bottom: 40px;
    color: #ccc;
}





.cta {
    display: flex;            /* Usa Flexbox per allineare gli elementi */
    flex-direction: column;   /* Imposta gli elementi in una colonna */
    justify-content: center;  /* Centra verticalmente il contenuto */
    align-items: center;      /* Centra orizzontalmente il contenuto */
    background: #3498db;
    color: white;
    padding: 50px 20px;
    text-align: center;
    margin-top: 30px;
}

.cta h2, .cta p {
    margin-bottom: 20px;      /* Aggiungi uno spazio tra il titolo, il testo e il bottone */
}

.cta .btn-contact {
  background: #fff;
  color: #3498db;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta .btn-contact:hover {
  background: #3498db;
  color: white;
}

.back-home {
    text-align: center;
    margin-top: 40px;
}
.back-home a {
    color: #00C4FF;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

body.light-mode a {
    color: #00437e;
}

body.light-mode a:hover{
  color: #0056b3;
}
.team-page h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #00C4FF;
    font-size: 3rem;
}

body.light-mode .btn-language {
    border: 2px solid #0056b3;
    color: #0056b3;
}

body.light-mode .btn-language:hover {
    background-color: #0056b3;
    color: #f4f1e1;
}
  

@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: stretch;
    padding: 15px 20px;
  }

  .logo {
    right: 10px;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1a1a1a;
    padding: 0px;
    box-sizing: border-box;
  }

  nav.active {
    display: flex;
  }

  body.light-mode nav {
    background-color: #f4f1e1;
  }

  .menu-left,
  .menu-right {
    flex-direction: column;
  }

  nav.active .menu-left li a,
  nav.active .menu-right li a {
    padding: 0px 0px;
  }

  nav.active .menu-left li a:hover,
  nav.active .menu-right li a:hover {
    background-color: #00adb5;
    color: #fff;
    transition: background-color 0.3s ease;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    right: 30px;
    top: 10px;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #00adb5;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .menu-toggle.active span:nth-child(2) {
    display: none;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  main {
    padding: 30px 20px;
  }

  .gallery img {
    width: 100%;
    max-width: 300px;
  }

  h2 {
    font-size: 2rem;
  }

  body.light-mode h2{
    font-size: 2rem;
  }

  .form-container,
  .mappa-container {
    width: 100%;
    margin-top: -50px;
  }

  .mappa-container {
    margin-top: 40px;
  }

  .header-buttons {
    top: 35px;
  }

  body.light-mode .menu-toggle span {
    background-color: #096ad4;
  }
  
  body.light-mode .language-mobile .btn-language {
     border: 2px solid #096ad4;
      color: #096ad4;
     } 

  #darkModeToggle {
    font-size: 28px;
    padding-left: 20px;
  }

  nav .search-bar {
    position: absolute;
    top: 100%;
    right: 20px;
    width: auto;
    background-color: #1a1a1a;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 999;
  }

  /* Nasconde il bottone desktop nel menu mobile */
  #languageToggle {
    display: none;
  }

  /* Mostra il bottone mobile dentro il menu hamburger */
 .language-mobile {
        display: flex;
        width: 100%;
        order: -1;
        justify-content: end;
    }

.language-mobile .btn-language {
    border: 2px solid #00adb5;
    color: #00adb5;
    padding: 6px 10px;
    border-radius: 5px;
    background: none;
    transition: 0.3s;
    position: relative;
    top: 40px;
    margin-right: 20px;
}


.contatti-container {
    flex-direction: column;
    align-items: center;
  }

.carousel {
    max-width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .slides-wrapper {
    width: 100%;
  }

  .slide {
    padding: 20px;
  }

  .slide-inner {
    font-size: 1.2rem;
  }

  .slide h3 {
    font-size: 1.3rem;
  }

  button.prev,
  button.next {
    font-size: 36px;
    padding: 12px;
  }

  button.prev {
    order: 2;
    margin-top: 10%;
  }

  button.next {
    order: 3;
    margin-top: 10%;
  }

   section.contatti .nome-cognome {
    flex-wrap: nowrap;
  }
    
}   